.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: rgba(123, 134, 155, 0.2);
  padding-bottom: 20px;
}

.projects-wrapper h1 {
  color: rgb(36, 36, 36);
  flex: 1 100%;
}

.project-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
  flex: 0 40%;
  align-items: center;
  justify-content: center;
  border: 5px solid #282c34;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project-item:hover {
  box-shadow: 5px 10px #888888;
  color: rgb(221, 144, 0);
  padding: 0;
  margin: 0;
}

.project-item span {
  display: none;
  color: rgb(17, 17, 160);
  font-weight: 600;
  margin-bottom: 5px;
}

.project-item:hover span {
  display: block;
}

.project-item img {
  width: 90%;
  height: 90%;
  filter: grayscale(100%);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project-item:hover img {
  filter: none;
}

@media only screen and (max-width: 600px) {
  .project-item {
    flex: 0 100%;
  }
}
