.contact-wrapper {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  background: rgb(233, 236, 240);
  background: linear-gradient(
    180deg,
    rgba(233, 236, 240, 0.4) 0%,
    rgba(138, 147, 163, 0.7) 21%,
    rgba(40, 42, 46, 1) 84%
  );
  justify-content: space-between;
  color: rgb(252, 243, 243);
}

.contact-wrapper .title {
  flex: 1 100%;
  padding: 30px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.mySupport {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.support {
  display: flex;
  padding: 10px 5px 10px 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.support p {
  width: 70%;
}

.contact-wrapper .contacts {
  flex: 0 40%;
}

.link-contact span {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-wrapper {
  display: flex;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px 5px 10px 5px;
  border-style: inset;
  justify-content: center;
  align-items: center;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
  box-sizing: border-box;
}

.logo-wrapper:hover {
  font-weight: bold;
  box-shadow: 0 12px 40px rgba(230, 229, 229, 0.5);
  background-color: rgb(197, 197, 197);
  border-style: none;
  transform: scale(1.1);
}

.link-contact:hover span {
  color: rgb(221, 144, 0);
}

.logo-wrapper img {
  width: 50%;
  height: auto;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 600px) {
  .mySupport {
    flex-direction: column-reverse;
  }
}
