.App-header {
  background: rgb(4, 109, 130);
  background: linear-gradient(
    180deg,
    rgba(4, 109, 130, 1) 0%,
    rgba(43, 108, 176, 1) 32%,
    rgba(2, 0, 36, 1) 91%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

.App-header .logo {
  flex-grow: 8;
  text-align: left;
  margin-left: 20px;
  font-weight: 600;
  font-family: "Carter One", cursive;
  letter-spacing: 2px;
}

.App-header .logo:hover {
  transform: scale(1.01);
  box-sizing: border-box;
  color: rgb(252, 186, 38);
}

.App-header .navLinks {
  flex-grow: 3;
  margin-right: 20px;
}

.App-header .navLinks ul {
  text-align: right;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
}

.bar-options {
  display: inherit;
}

.App-header ul li {
  padding: 15px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 600;
}

.App-header ul li:hover {
  text-decoration: underline;
  transform: scale(1.01);
  box-sizing: border-box;
  color: rgb(252, 186, 38);
}

#toggle-menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: inherit;
}

.nav-active {
  transform: translateX(0%);
  opacity: 1;
}

#close-menu {
  display: none;
}

.nav-active {
  transform: translateX(0%) !important;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .App-header {
    padding: 15px;
    font-size: calc(15px + 2vmin);
  }

  .App-header .navLinks {
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    width: 100%;
    height: 300px;
    transform: translateX(-100%);
    /*nav sidebar speed*/
    transition: all 0.5s linear;
    opacity: 0.9;
  }

  .App-header .navLinks ul {
    text-align: left;
    display: block;
    top: 0;
    margin: 0;
  }

  #close-menu {
    display: block;
    text-align: right;
    padding: 15px;
    font-size: 34px;
    cursor: pointer;
    transition: 0.5s;
  }

  #close-menu:hover {
    color: rgb(209, 12, 12);
  }

  .nav-active ul li:hover {
    padding-left: 30px;
  }

  #toggle-menu {
    display: block;
  }

  .bar-options {
    display: none;
  }
}
