.copyright-text {
  position: static;
  bottom: 0;
  background-color: rgba(40, 42, 46, 1);
  color: white;
  padding: 25px;
  font-size: 1.3rem;
  font-family: "Carter One", cursive;
  font-weight: 300;
}

@media only screen and (max-width: 420px) {
  .copyright-text span {
    display: block;
  }
}
